/*Overriding Semantic style attributes*/

.html {
    font-family: 'Merriweather', serif;
}
header {
    font-family: 'Merriweather', serif;
}
body { background: rgba(30, 32, 34, 1);font-family: 'Merriweather', serif; }
.item-hover { background-color:  #000;}
.item { font-family: 'Merriweather', serif;font-size:20px;}
.ui.vertical.menu .menu .item {background-color:rgba(89,88,84, 1);line-height:16px;text-decoration:underline;font-weight:700;font-size:1.5rem;border-radius:0;color:rgba(225, 223, 221, 1);}
.ui.compact.menu { border:0px black;border-radius:0;overflow:scroll !important;}
.icon .camera {background: url(/assets/img/camera.svg) no-repeat top left;background-size:contain; color:#fff;}
.ui.segment.odd { background-color:rgba(30, 32, 34, .85);margin-top:0px;padding-bottom:8rem;padding-top:2rem;}
.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: rgba(34,36,38,.1);
}
.footer {height:4rem;}
h5.foot {
    font-family: 'Merriweather', serif;
    font-weight:300;
    color:rgba(169, 97, 21, .8);
    display:inline-block;
    max-height:4rem;
}
/*Jplayer */
.jp-audio {
    height:20rem;
 background: rgba(34,36,38,.1);
    border:none;
    padding-top:3rem;
}
.jp-seek-bar { width:100%;}
.jp-details { background-color:#000; color:rgba(169, 97, 21, 1);}
.jp-type-single { color:#000;
    border:none;
    -webkit-box-shadow: 2px 38px 208px -45px rgba(171,95,13,1);
    -moz-box-shadow: 2px 38px 208px -45px rgba(171,95,13,1);
    box-shadow: 2px 38px 208px -45px rgba(171,95,13,1);}
.jp-container { background-color: rgba(169, 97, 21, 1); }
.ui.segment {
    background-color:#000;
}
.ui.segment.even {
    box-shadow:
            inset 0px 11px 8px -10px rgba(67,67,67,.5),
            inset 0px -11px 8px -10px rgba(67,67,67,.5);
}
.jp-details .jp-title { font-family: 'Merriweather', serif;font-weight:700;font-size:1.5rem;padding-top:1rem; }
/* Header */
.ui.vertical.menu {background-color:rgba(89,88,84,1);border-radius:0;margin:0px;}
.ui.segment.grid { margin:0px;background:#fff;border-radius:0;border:0px solid black;}
.header-div {
    -webkit-box-shadow: 0 15px 16px -6px rgba(34,36,38,.1);
    -moz-box-shadow: 0 15px 16px -6px rgba(34,36,38,.1);
    box-shadow: 0 15px 16px -6px rgba(34,36,38,.1);
    background: rgba(34,36,38,.1);

}
.ui.segment.odd.bot {
    -webkit-box-shadow: inset -1px -46px 39px -45px rgba(0,0,0,1);
    -moz-box-shadow: inset -1px -46px 39px -45px rgba(0,0,0,1);
    box-shadow: inset -1px -46px 39px -45px rgba(0,0,0,1);
}
.ui.segment.odd.inset {
    -webkit-box-shadow: inset -1px 46px 39px -45px rgba(0,0,0,1);
    -moz-box-shadow: inset -1px 46px 39px -45px rgba(0,0,0,1);
    box-shadow: inset -1px 46px 39px -45px rgba(0,0,0,1);
}
.ui.header.horizontal{ color:rgba(169, 97, 21, 1);padding-top:1rem;font-family: 'Merriweather', serif;padding-bottom:2rem;}

/* Responsiveness */
@media only screen and (max-width: 767px) {
    .ui.container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

    .ui.grid.container {
        width: auto !important;
    }

    .ui.relaxed.grid.container {
        width: auto !important;
    }

    .ui.very.relaxed.grid.container {
        width: auto !important;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.container {
        width: 75%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc( 75%  +  2rem ) !important;
    }

    .ui.relaxed.grid.container {
        width: calc( 75%  +  3rem ) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc( 75%  +  5rem ) !important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ui.container {
        width: 75%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc( 75% +  2rem ) !important;
    }

    .ui.relaxed.grid.container {
        width: calc( 75%  +  3rem ) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc( 75%  +  5rem ) !important;
    }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 75%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc( 75%  +  2rem ) !important;
    }

    .ui.relaxed.grid.container {
        width: calc( 75%  +  3rem ) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc( 75%  +  5rem ) !important;
    }
}

.column .five .wide { width:33.33%; }

.crop {
    width: 200px;
    overflow: hidden;
}
.crop img {
    height: auto;
    width: 100%;
}

.menu {
    background:#343638;
}

/* Masonry */
.masonry-grid {
    max-width:100%;
}

.masonry-sizer, .masonry-item { width:33.33%; }

.masonry-item {
    float:left;
    padding:3px;
    background-color:black;

}

.masonry-item img {
    display:block;
    max-width:100%;

}
.video1 {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin:0 auto;
}
.video {
     position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 51%;
}
iframe {
   position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}
.bio p {
    color: #ffffff;
    font-size: 18px;
}
.bio p {
    display: block !important;
    text-align: left !important;
    float: none !important;
}
ul.stormy {
    padding:20px 0 0 0 !important;
    display: block;
    border:1px solid #9f5615;
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
}
ul.stormy li {
    list-style-type: none;
    padding:0 20px 20px 20px;
    margin:0 0 0 0 !important;

}
ul.stormy li a {
    display: block;
    text-align: center;
    padding:15px 25px;
    color: #ffffff;
    font-size: 24px;
    line-height: normal;
    background-color: rgba(255,255,255,.15);
    border:1px dashed rgba(255,255,255,.25);
}
ul.stormy li a:hover {
    background-color: rgba(0,0,0,.25);
}